p {
	font-family: Roboto, Arial;
	margin-top: 0;
	margin-bottom: 0;
}

body {
	margin: 0;
	padding-top: 77px;
	padding-left: 94px;
	padding-right: 22px;
	background-color: rgb(246, 246, 246);
}

a {
	color: inherit;
	text-decoration: inherit;
}