.sidebar-link:hover {
	background-color: rgb(235, 235, 235);
}

.sidebar-link img {
	height: 24px;
	margin-bottom: 5px;
}

@media (max-width: 1300px) {
	.sidebar {
		position: fixed;
		left: 0;
		bottom: 0;
		top: 55px;
		background-color: white;
		width: 72px;
		z-index: 200;
		padding-top: 5px;
	}
	
	.sidebar-link {
		height: 74px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		cursor: pointer;
	}

	.sidebar-link div {
		font-size: 10px;
	}
}

@media (min-width: 1301px) {
	.sidebar {
		position: fixed;
		left: 0;
		bottom: 0;
		top: 55px;
		background-color: white;
		width: 152px; /*--increase by 80px*/
		z-index: 200;
		padding-top: 5px;
		padding-left: 24px;
	}
	
	.sidebar-link {
		height: 74px;
		display: flex;
		align-items: center;
		justify-content: left;
		flex-direction: row;
		cursor: pointer;
		gap: 6px;
	}

	.sidebar-link div {
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 4px;
	}
}
